@using Music.Models

<div id="header">
  <button class="btn-warning">@Html.ActionLink("Home", "Index", "Home")</button>
  <button class="btn-warning">@Html.ActionLink("See all Items", "Index", "Items")</button>
  <button class="btn-warning">@Html.ActionLink("Show all Instruments", "Index", "Instruments")</button>
  <button class="btn-warning">@Html.ActionLink("All", "All", "Home")</button>
  <button class="btn-warning">@Html.ActionLink("Search", "Search", "Home")</button>
  <button class="btn-warning floatMe">@Html.ActionLink("Log-in/Log-out", "Index", "Account")</button>

  
</div>